body {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  font-family: 'Comic Sans MS', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  width: 340px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.plushie {
  width: 120px;
}

h1 {
  color: #ff4d6d;
}

h2 {
  color: #ff1e56;
}

p {
  color: #555;
  font-size: 15px;
}

button {
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background: #ff1e56;
}
.photos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.gf-photo {
  width: 90px;
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
